version: "3.9"

services:
  postgres:
    image: postgres:15
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin
      POSTGRES_DB: access_control
    ports:
      - "5432:5432"

  redis:
    image: redis:7
    ports:
      - "6379:6379"
